<?xml version="1.0"?>
<launch> 
    <param name="isSIM" value="0"/>
    <node pkg="image_transport" type="republish" name="republish" output="screen" args="h264 in:=/tello/image_raw raw out:=/tello_raw"/>
    <node pkg="recent_test_case" type="findBoxWCannyOnLine.py" name="findBoxOnLine" output="screen"/>
    <node pkg="recent_test_case" type="control_val_node_kf.py" name="control_val_node_kf" output="screen"/>
    <node pkg="recent_test_case" type="kf.py" name="kf" output="screen"/>
    <node pkg="recent_test_case" type="target_kf.py" name="target_kf" output="screen"/>

    <node pkg="recent_test_case" type="target_kf_node.py" name="target_kf_node" output="screen"/>

    <node pkg="recent_test_case" type="plan_wp.py" name="plan_wp" output="screen"/>
    <node pkg="recent_test_case" type="ref_filter.py" name="ref_filter" output="screen"/>
    <node pkg="recent_test_case" type="switch_plan_wp.py" name="switch_plan_wp" output="screen"/>
    <node pkg="recent_test_case" type="merge_box_node.py" name="merge_box_node" output="screen"/>
    <node pkg="recent_test_case" type="imuint.py" name="imuint" output="screen"/>
    <!--<node pkg="recent_test_case" type="ref_node_0901.py" name="ref_node" output="screen"/>-->
    <node pkg="recent_test_case" type="control_op_node.py" name="control_op_node" output="screen" launch-prefix="xterm -geometry 150x20+450+0 -e" />
    <node pkg="rosbag" type="record" name="myrosbag"  output="screen" args="-a -x /tello_raw" />
</launch>