<?xml version="1.0"?>
<launch> 
    <node pkg="recent_test_case" type="plan_wp_offline.py" name="plan_wp_offline" output="screen"/>
    <node pkg="recent_test_case" type="plan_wp_sim.py" name="plan_wp_sim" output="screen"/>

    <node pkg="recent_test_case" type="switch_plan_wp.py" name="switch_plan_wp" output="screen"/>
    <node pkg="recent_test_case" type="ref_filter.py" name="ref_filter" output="screen"/>
    <node pkg="rosbag" type="record" name="myrosbag"  output="screen" args="-a" />
</launch>